## Imports and Data Cleaning

In [1]:
import pandas as pd 
import numpy as np
from sklearn.model_selection import train_test_split
import torch 
from torch import nn
from torch import optim 

pd.options.mode.chained_assignment = None

/Users/nickmelamed/opt/anaconda3/lib/python3.9/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.5
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
df = pd.read_csv("./data/bank-additional-full.csv", delimiter = ";")
df.head(5)

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

The description of the columns can be found at the UCI Machine Learning Repository, linked [here](https://archive.ics.uci.edu/dataset/222/bank+marketing)

In [3]:
df.columns

Index(['age', 'job', 'marital', 'education', 'default', 'housing', 'loan',
       'contact', 'month', 'day_of_week', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'emp.var.rate', 'cons.price.idx',
       'cons.conf.idx', 'euribor3m', 'nr.employed', 'y'],
      dtype='object')

For this particular analysis, I am going to ignore economic factors, as I will take the simplifying assumption that the majority of people who are in this campaign are not making decisions based on economic factors like the consumer price index.

In [4]:
df = df[df.columns[~df.columns.isin(['emp.var.rate', 'cons.price.idx','cons.conf.idx', 'euribor3m', 'nr.employed'])]]
df.head(5)

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,261,1,999,0,nonexistent,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,149,1,999,0,nonexistent,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,226,1,999,0,nonexistent,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,151,1,999,0,nonexistent,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,307,1,999,0,nonexistent,no

In [5]:
df['default'].value_counts()

no         32588
unknown     8597
yes            3
Name: default, dtype: int64

In [6]:
df['housing'].value_counts()

yes        21576
no         18622
unknown      990
Name: housing, dtype: int64

In [7]:
df['loan'].value_counts()

no         33950
yes         6248
unknown      990
Name: loan, dtype: int64

As we can see from above, the number of customers who have defaulted on previous loans is relatively low. So, to avoid dealing with the unknown values, we will make the assumption that the vasy majority of people have not defaulted and therefore this column does not provide us any predictive information. 

We will also drop the unknowns from people who have taken housing or personal loans, as we have a sufficient sample size without the unknowns.

In [8]:
df = df.drop(columns = ['default'])

df = df[(df['housing'] != 'unknown') & (df['loan'] != 'unknown')]

In order to run our neural network, we have to make all of our variables numeric. We do so by turning any categorical variables into dummy variables (1 = variable is true, 0 = false), and, since the binary variables are stored as yes/no variables, we will convert those into 1/0 values as well.

In [9]:
# converting categorical variables into dummies

df_dummy = pd.get_dummies(df, columns = ['job', 'marital', 'education', 'contact', 'month', 'day_of_week', 'poutcome'], prefix_sep = ': ')

# turning y/n variables into 1/0

df_dummy['housing'] = np.where(df['housing'].values == 'yes', 1, 0)
df_dummy['loan'] = np.where(df['loan'].values == 'yes', 1, 0)
df_dummy['y'] = np.where(df['y'].values == 'yes', 1, 0)

df_dummy.head(5)

,age,housing,loan,duration,campaign,pdays,previous,y,job: admin.,job: blue-collar,...,month: oct,month: sep,day_of_week: fri,day_of_week: mon,day_of_week: thu,day_of_week: tue,day_of_week: wed,poutcome: failure,poutcome: nonexistent,poutcome: success
0,56,0,0,261,1,999,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
1,57,0,0,149,1,999,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
2,37,1,0,226,1,999,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
3,40,0,0,151,1,999,0,0,1,0,...,0,0,0,1,0,0,0,0,1,0
4,56,0,1,307,1,999,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0

## Building the Neural Network

For any model building, we want to ensure our model is not trained on the entirety of our dataset. Otherwise, we would have no data to test the model on, and run the risk of overtraining. I have decided to use Scikit-Learn to split the dataset into 70% training data, 30% testing data. An 80-20 split is another popular option but I prefer to have more testing data to ensure the model is even less susceptible to the overtraining problem.

We make sure our outcome variable, y (whether or not the client subscribed to the term deposit, the goal of the campaign), is separated from our other predictor variables.

In [10]:
X = df_dummy[df_dummy.columns[~df_dummy.columns.isin(['y'])]]
y = df_dummy['y']

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0, train_size = .70)

Now that we have the data split up, we want to build our model and train it on the training data. We use PyTorch because of the ease of converting data into tensors, and using tensors as inputs to models.

In [11]:
def df_to_tensor(df, outcome):
    ''' Converts a df into a numpy array and then a Tensor with dtype float32 to be used in a PyTorch model 
        
        Params: 
            df (DataFrame): Input dataframe to be converted
            outcome (Boolean): Whether or not the df is an outcome vector; if it is, must be converted to 1D tensor for processing
        
        Returns:
            as_tensor (Tensor): dtype float32 Tensor; use float32 as it is the input type for torch.nn neural networks
            
    '''
    
    df_np = df.to_numpy() # convert to numpy so we can use torch.from_numpy method
    if outcome: 
        return torch.from_numpy(df_np).reshape(-1, 1).to(torch.float32) # reshape makes the Tensor 1D if it is an outcome vector
    return torch.from_numpy(df_np).to(torch.float32)

In [12]:
# converting DF into Tensor

X_train_tensor = df_to_tensor(X_train, outcome = False)
y_train_tensor = df_to_tensor(y_train, outcome = True)

In [29]:
# calculating the number of output neurons for our hidden layers 

N_i = len(X_train.columns) # number of features represents the number of the nodes in the input layer 
N_o = 1 # since this is a classifier, only one output node 
N = X.shape[0] # number of samples

In [14]:
# Building the model using PyTorch

model = nn.Sequential(
    nn.Linear(N_i, 300),
    nn.ReLU(),
    nn.Linear(300, N_i),
    nn.ReLU(),
    nn.Linear(num_inputs, 1),
    nn.Sigmoid())

Since we are using a binary classifier (either the campaign is successful or it isn't), we use Binary Cross Entropy loss as it measures the error in mislabeled outcomes for a single outcome vector. We use the Adam optimizer due to its ability to have quick convergence and deal with sparse gradients, which we may deal with as a result of having a lot of dummy variables. 

As for how we go about training the model, we use 100 epochs, which represents the number of times the entire dataset is run through the model. 100 is a fairly traditional number based on the existing NN literature. For batch size, which is the size of the sample that is run through the model at a time, as we are using batch gradient descent, powers of 2 are common, with 32 being considered the upper limit for batch size. We will use this upper limit as we are dealing with a high number of samples (N = ~40,000).

In [34]:
loss_fn = nn.BCELoss()
optimizer = optim.Adam(model.parameters(), lr=0.001)

n_epochs = 100
batch_size = 32

for epoch in range(n_epochs):
    for i in range(0, len(X_train_tensor), batch_size):
        Xbatch = X_train_tensor[i:i+batch_size]
        y_pred = model(Xbatch)
        ybatch = y_train_tensor[i:i+batch_size]
        loss = loss_fn(y_pred, ybatch)
        optimizer.zero_grad() # resets the gradient for faster performance 
        loss.backward() # computes the gradient for the given batch 
        optimizer.step() # updates parameters based on gradient calculation 
    print(f'Finished epoch {epoch}, latest loss {loss}')

Finished epoch 0, latest loss 0.20195713639259338
Finished epoch 1, latest loss 0.191565603017807
Finished epoch 2, latest loss 0.1847306191921234
Finished epoch 3, latest loss 0.17832830548286438
Finished epoch 4, latest loss 0.1791713386774063
Finished epoch 5, latest loss 0.1764701008796692
Finished epoch 6, latest loss 0.1736939251422882
Finished epoch 7, latest loss 0.17044976353645325
Finished epoch 8, latest loss 0.1660824567079544
Finished epoch 9, latest loss 0.17617584764957428
Finished epoch 10, latest loss 0.17656922340393066
Finished epoch 11, latest loss 0.17779219150543213
Finished epoch 12, latest loss 0.17017851769924164
Finished epoch 13, latest loss 0.1766877919435501
Finished epoch 14, latest loss 0.16145360469818115
Finished epoch 15, latest loss 0.16927193105220795
Finished epoch 16, latest loss 0.1743375062942505
Finished epoch 17, latest loss 0.16715112328529358
Finished epoch 18, latest loss 0.17449218034744263
Finished epoch 19, latest loss 0.17537254095077515
Finished epoch 20, latest loss 0.17593353986740112
Finished epoch 21, latest loss 0.1762665957212448
Finished epoch 22, latest loss 0.17219756543636322
Finished epoch 23, latest loss 0.1694985330104828
Finished epoch 24, latest loss 0.17199431359767914
Finished epoch 25, latest loss 0.17867155373096466
Finished epoch 26, latest loss 0.1759316772222519
Finished epoch 27, latest loss 0.1781560331583023
Finished epoch 28, latest loss 0.18057267367839813
Finished epoch 29, latest loss 0.18351960182189941
Finished epoch 30, latest loss 0.17918221652507782
Finished epoch 31, latest loss 0.17771007120609283
Finished epoch 32, latest loss 0.18211522698402405
Finished epoch 33, latest loss 0.1705082356929779
Finished epoch 34, latest loss 0.17223884165287018
Finished epoch 35, latest loss 0.16493484377861023
Finished epoch 36, latest loss 0.16346535086631775
Finished epoch 37, latest loss 0.17840035259723663
Finished epoch 38, latest loss 0.17182321846485138
Finished epoch 39, latest loss 0.1755209118127823
Finished epoch 40, latest loss 0.16616417467594147
Finished epoch 41, latest loss 0.1829434335231781
Finished epoch 42, latest loss 0.16603122651576996
Finished epoch 43, latest loss 0.16842958331108093
Finished epoch 44, latest loss 0.16934506595134735
Finished epoch 45, latest loss 0.16722451150417328
Finished epoch 46, latest loss 0.17034435272216797
Finished epoch 47, latest loss 0.16722269356250763
Finished epoch 48, latest loss 0.17255744338035583
Finished epoch 49, latest loss 0.16318753361701965
Finished epoch 50, latest loss 0.18147310614585876
Finished epoch 51, latest loss 0.17097440361976624
Finished epoch 52, latest loss 0.17252062261104584
Finished epoch 53, latest loss 0.16365820169448853
Finished epoch 54, latest loss 0.16972392797470093
Finished epoch 55, latest loss 0.16663938760757446
Finished epoch 56, latest loss 0.1599809229373932
Finished epoch 57, latest loss 0.16940520703792572
Finished epoch 58, latest loss 0.16890846192836761
Finished epoch 59, latest loss 0.16717839241027832
Finished epoch 60, latest loss 0.17272919416427612
Finished epoch 61, latest loss 0.17091664671897888
Finished epoch 62, latest loss 0.17363372445106506
Finished epoch 63, latest loss 0.1854649782180786
Finished epoch 64, latest loss 0.16394619643688202
Finished epoch 65, latest loss 0.16136547923088074
Finished epoch 66, latest loss 0.17347502708435059
Finished epoch 67, latest loss 0.17422649264335632
Finished epoch 68, latest loss 0.17116953432559967
Finished epoch 69, latest loss 0.16903306543827057
Finished epoch 70, latest loss 0.17249628901481628
Finished epoch 71, latest loss 0.17238135635852814
Finished epoch 72, latest loss 0.17347189784049988
Finished epoch 73, latest loss 0.17154578864574432
Finished epoch 74, latest loss 0.16785115003585815
Finished epoch 75, latest loss 0.1687363237142563
Finished epoch 76, latest loss 0.1603182852268219
Finished epoch 77, latest loss 0.16748228669166565
Finished epoch 78, latest loss 0.1658695787191391
Finished epoch 79, latest loss 0.17053118348121643
Finished epoch 80, latest loss 0.17222045361995697
Finished epoch 81, latest loss 0.1639193743467331
Finished epoch 82, latest loss 0.172377347946167
Finished epoch 83, latest loss 0.15524616837501526
Finished epoch 84, latest loss 0.17179591953754425
Finished epoch 85, latest loss 0.16959361732006073
Finished epoch 86, latest loss 0.18201148509979248
Finished epoch 87, latest loss 0.16906596720218658
Finished epoch 88, latest loss 0.16858595609664917
Finished epoch 89, latest loss 0.16993485391139984
Finished epoch 90, latest loss 0.17264297604560852
Finished epoch 91, latest loss 0.17750592529773712
Finished epoch 92, latest loss 0.16550786793231964
Finished epoch 93, latest loss 0.1648053526878357
Finished epoch 94, latest loss 0.17025378346443176
Finished epoch 95, latest loss 0.17779164016246796
Finished epoch 96, latest loss 0.17641088366508484
Finished epoch 97, latest loss 0.17463406920433044
Finished epoch 98, latest loss 0.1719994992017746
Finished epoch 99, latest loss 0.17551085352897644

We compute the training accuracy of our model, which is the percentage of correctly labelled outcomes, to determine how well it classifies our desired outcome.

In [35]:
with torch.no_grad(): # we don't want to update our gradient; we just want to see the already classified data
    y_pred_train = model(X_train_tensor)

train_accuracy = (y_pred_train.round() == y_train_tensor).float().mean()
print(f"Training Accuracy: {round(float(train_accuracy)*100, 2)}%") # have to convert accuracy from Tensor to float

Training Accuracy: 91.37%

This is a very encouraging training accuracy! However, it is quite high and could be a result of overtraining our data. 

To ensure this isn't the case, we will use our test data and see how the model performs on this set of data:

In [36]:
# Converting test data to Tensors

X_test_tensor = df_to_tensor(X_test, outcome = False)
y_test_tensor = df_to_tensor(y_test, outcome = True)

In [37]:
# computing test accuracy 

with torch.no_grad():
    y_pred_test = model(X_test_tensor)

test_accuracy = (y_pred_test.round() == y_test_tensor).float().mean()
print(f"Test Accuracy: {round(float(test_accuracy)*100, 2)}%")

Test Accuracy: 90.9%

We have a similarly high test data accuracy, suggesting we are not dealing with an overtraining problem.