## Imports and Data Cleaning

In [1]:
import pandas as pd 
import numpy as np
from sklearn.model_selection import train_test_split
import torch 
from torch import nn
from torch import optim 

pd.options.mode.chained_assignment = None

/Users/nickmelamed/opt/anaconda3/lib/python3.9/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.5
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
df = pd.read_csv("./data/bank-additional-full.csv", delimiter = ";")
df.head(5)

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

The description of the columns can be found at the UCI Machine Learning Repository, linked [here](https://archive.ics.uci.edu/dataset/222/bank+marketing)

In [3]:
df.columns

Index(['age', 'job', 'marital', 'education', 'default', 'housing', 'loan',
       'contact', 'month', 'day_of_week', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'emp.var.rate', 'cons.price.idx',
       'cons.conf.idx', 'euribor3m', 'nr.employed', 'y'],
      dtype='object')

For this particular analysis, I am going to ignore economic factors, as I will take the simplifying assumption that the majority of people who are in this campaign are not making decisions based on economic factors like the consumer price index.

In [4]:
df = df[df.columns[~df.columns.isin(['emp.var.rate', 'cons.price.idx','cons.conf.idx', 'euribor3m', 'nr.employed'])]]
df.head(5)

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,261,1,999,0,nonexistent,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,149,1,999,0,nonexistent,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,226,1,999,0,nonexistent,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,151,1,999,0,nonexistent,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,307,1,999,0,nonexistent,no

In [5]:
df['default'].value_counts()

no         32588
unknown     8597
yes            3
Name: default, dtype: int64

In [6]:
df['housing'].value_counts()

yes        21576
no         18622
unknown      990
Name: housing, dtype: int64

In [7]:
df['loan'].value_counts()

no         33950
yes         6248
unknown      990
Name: loan, dtype: int64

As we can see from above, the number of customers who have defaulted on previous loans is relatively low. So, to avoid dealing with the unknown values, we will make the assumption that the vasy majority of people have not defaulted and therefore this column does not provide us any predictive information. 

We will also drop the unknowns from people who have taken housing or personal loans, as we have a sufficient sample size without the unknowns.

In [8]:
df = df.drop(columns = ['default'])

df = df[(df['housing'] != 'unknown') & (df['loan'] != 'unknown')]

In order to run our neural network, we have to make all of our variables numeric. We do so by turning any categorical variables into dummy variables (1 = variable is true, 0 = false), and, since the binary variables are stored as yes/no variables, we will convert those into 1/0 values as well.

In [9]:
# converting categorical variables into dummies

df_dummy = pd.get_dummies(df, columns = ['job', 'marital', 'education', 'contact', 'month', 'day_of_week', 'poutcome'], prefix_sep = ': ')

# turning y/n variables into 1/0

df_dummy['housing'] = np.where(df['housing'].values == 'yes', 1, 0)
df_dummy['loan'] = np.where(df['loan'].values == 'yes', 1, 0)
df_dummy['y'] = np.where(df['y'].values == 'yes', 1, 0)

df_dummy.head(5)

,age,housing,loan,duration,campaign,pdays,previous,y,job: admin.,job: blue-collar,...,month: oct,month: sep,day_of_week: fri,day_of_week: mon,day_of_week: thu,day_of_week: tue,day_of_week: wed,poutcome: failure,poutcome: nonexistent,poutcome: success
0,56,0,0,261,1,999,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
1,57,0,0,149,1,999,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
2,37,1,0,226,1,999,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
3,40,0,0,151,1,999,0,0,1,0,...,0,0,0,1,0,0,0,0,1,0
4,56,0,1,307,1,999,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0

## Building the Neural Network

For any model building, we want to ensure our model is not trained on the entirety of our dataset. Otherwise, we would have no data to test the model on, and run the risk of overtraining. I have decided to use Scikit-Learn to split the dataset into 70% training data, 30% testing data. An 80-20 split is another popular option but I prefer to have more testing data to ensure the model is even less susceptible to the overtraining problem.

We make sure our outcome variable, y (whether or not the client subscribed to the term deposit, the goal of the campaign), is separated from our other predictor variables.

In [10]:
X = df_dummy[df_dummy.columns[~df_dummy.columns.isin(['y'])]]
y = df_dummy['y']

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0, train_size = .70)

Now that we have the data split up, we want to build our model and train it on the training data. We use PyTorch because of the ease of converting data into tensors, and using tensors as inputs to models.

In [11]:
# converting DF into Tensor

X_train_np = X_train.to_numpy() 
y_train_np = y_train.to_numpy()

X_train_tensor = torch.from_numpy(X_train_np).to(torch.float32) # convert to float32 b/c nn.Sequential uses this dtype
y_train_tensor = torch.from_numpy(y_train_np).reshape(-1, 1).to(torch.float32)

In [17]:
# calculating the number of output neurons for our hidden layers 

N_i = len(X_train.columns) # number of features represents the number of the nodes in the input layer 
N_o = 1 # since this is a classifier, only one output node 
N = X.shape[0] # number of samples 

N

40198

In [18]:
# Building the model using PyTorch

num_inputs = X_train_tensor.shape[1]

model = nn.Sequential(
    nn.Linear(num_inputs, 60),
    nn.ReLU(),
    nn.Linear(60, num_inputs),
    nn.ReLU(),
    nn.Linear(num_inputs, 1),
    nn.Sigmoid())

Since we are using a binary classifier (either the campaign is successful or it isn't), we use Binary Cross Entropy loss as it measures the error in mislabeled outcomes for a single outcome vector. We use the Adam optimizer due to its ability to have quick convergence and deal with sparse gradients, which we may deal with as a result of having a lot of dummy variables.

In [19]:
loss_fn = nn.BCELoss() 
optimizer = optim.Adam(model.parameters(), lr=0.001)

In [24]:
# training the model using 100 epochs, each with batch size of 32 
# logic for epochs: 100 is a commonly used number - learning model goes through the entire dataset 100 times
# batch size: not much of a rule of thumb for batch size (just has to be more than one and less than N) 
# typically, batches are powers of 2, 32 being a recommended number -> since N is quite large (40K samples), let's use 32

n_epochs = 100
batch_size = 32
 
for epoch in range(n_epochs):
    for i in range(0, len(X_train_tensor), batch_size):
        Xbatch = X_train_tensor[i:i+batch_size]
        y_pred = model(Xbatch)
        ybatch = y_train_tensor[i:i+batch_size]
        loss = loss_fn(y_pred, ybatch)
        optimizer.zero_grad()
        loss.backward()
        optimizer.step()
    print(f'Finished epoch {epoch}, latest loss {loss}')

Finished epoch 0, latest loss 0.16823384165763855
Finished epoch 1, latest loss 0.17745578289031982
Finished epoch 2, latest loss 0.16905269026756287
Finished epoch 3, latest loss 0.16216832399368286
Finished epoch 4, latest loss 0.17160601913928986
Finished epoch 5, latest loss 0.1719316691160202
Finished epoch 6, latest loss 0.1628362238407135
Finished epoch 7, latest loss 0.15897807478904724
Finished epoch 8, latest loss 0.16482669115066528
Finished epoch 9, latest loss 0.16145899891853333
Finished epoch 10, latest loss 0.17066404223442078
Finished epoch 11, latest loss 0.16783663630485535
Finished epoch 12, latest loss 0.15992653369903564
Finished epoch 13, latest loss 0.17782671749591827
Finished epoch 14, latest loss 0.18425872921943665
Finished epoch 15, latest loss 0.17317678034305573
Finished epoch 16, latest loss 0.17778901755809784
Finished epoch 17, latest loss 0.17587661743164062
Finished epoch 18, latest loss 0.1747199296951294
Finished epoch 19, latest loss 0.18662391602993011
Finished epoch 20, latest loss 0.17840668559074402
Finished epoch 21, latest loss 0.17303279042243958
Finished epoch 22, latest loss 0.17374886572360992
Finished epoch 23, latest loss 0.17684026062488556
Finished epoch 24, latest loss 0.17887887358665466
Finished epoch 25, latest loss 0.17585524916648865
Finished epoch 26, latest loss 0.1725827157497406
Finished epoch 27, latest loss 0.17074838280677795
Finished epoch 28, latest loss 0.17412437498569489
Finished epoch 29, latest loss 0.16682352125644684
Finished epoch 30, latest loss 0.17017439007759094
Finished epoch 31, latest loss 0.17138424515724182
Finished epoch 32, latest loss 0.16978521645069122
Finished epoch 33, latest loss 0.1642606556415558
Finished epoch 34, latest loss 0.16773423552513123
Finished epoch 35, latest loss 0.16397705674171448
Finished epoch 36, latest loss 0.17052894830703735
Finished epoch 37, latest loss 0.16405446827411652
Finished epoch 38, latest loss 0.17086337506771088
Finished epoch 39, latest loss 0.16750523447990417
Finished epoch 40, latest loss 0.15798255801200867
Finished epoch 41, latest loss 0.16666166484355927
Finished epoch 42, latest loss 0.16995295882225037
Finished epoch 43, latest loss 0.17791905999183655
Finished epoch 44, latest loss 0.16582569479942322
Finished epoch 45, latest loss 0.17021553218364716
Finished epoch 46, latest loss 0.17008690536022186
Finished epoch 47, latest loss 0.17170454561710358
Finished epoch 48, latest loss 0.16259005665779114
Finished epoch 49, latest loss 0.1553010642528534
Finished epoch 50, latest loss 0.1611015498638153
Finished epoch 51, latest loss 0.1554817408323288
Finished epoch 52, latest loss 0.15707924962043762
Finished epoch 53, latest loss 0.16521897912025452
Finished epoch 54, latest loss 0.16203323006629944
Finished epoch 55, latest loss 0.1612933725118637
Finished epoch 56, latest loss 0.1756969392299652
Finished epoch 57, latest loss 0.15525512397289276
Finished epoch 58, latest loss 0.17834581434726715
Finished epoch 59, latest loss 0.17734959721565247
Finished epoch 60, latest loss 0.17776711285114288
Finished epoch 61, latest loss 0.16598698496818542
Finished epoch 62, latest loss 0.17084261775016785
Finished epoch 63, latest loss 0.19040173292160034
Finished epoch 64, latest loss 0.15691718459129333
Finished epoch 65, latest loss 0.169174924492836
Finished epoch 66, latest loss 0.1799929141998291
Finished epoch 67, latest loss 0.1748841106891632
Finished epoch 68, latest loss 0.1824166476726532
Finished epoch 69, latest loss 0.17591387033462524
Finished epoch 70, latest loss 0.1797141134738922
Finished epoch 71, latest loss 0.171260267496109
Finished epoch 72, latest loss 0.18261097371578217
Finished epoch 73, latest loss 0.17571358382701874
Finished epoch 74, latest loss 0.17784693837165833
Finished epoch 75, latest loss 0.17487117648124695
Finished epoch 76, latest loss 0.16714347898960114
Finished epoch 77, latest loss 0.19049131870269775
Finished epoch 78, latest loss 0.18118278682231903
Finished epoch 79, latest loss 0.19275327026844025
Finished epoch 80, latest loss 0.18822841346263885
Finished epoch 81, latest loss 0.18670649826526642
Finished epoch 82, latest loss 0.18234971165657043
Finished epoch 83, latest loss 0.17656609416007996
Finished epoch 84, latest loss 0.17362119257450104
Finished epoch 85, latest loss 0.18199601769447327
Finished epoch 86, latest loss 0.1830059289932251
Finished epoch 87, latest loss 0.1695644110441208
Finished epoch 88, latest loss 0.17514315247535706
Finished epoch 89, latest loss 0.19609323143959045
Finished epoch 90, latest loss 0.16785675287246704
Finished epoch 91, latest loss 0.17273348569869995
Finished epoch 92, latest loss 0.19020333886146545
Finished epoch 93, latest loss 0.1817302703857422
Finished epoch 94, latest loss 0.1723148375749588
Finished epoch 95, latest loss 0.18821509182453156
Finished epoch 96, latest loss 0.18336805701255798
Finished epoch 97, latest loss 0.17905603349208832
Finished epoch 98, latest loss 0.18825896084308624
Finished epoch 99, latest loss 0.19003655016422272

We compute the training accuracy of our model to determine how well it classifies our desired outcome.

In [25]:
with torch.no_grad():
    y_pred_train = model(X_train_tensor)

train_accuracy = (y_pred_train.round() == y_train_tensor).float().mean()
print(f"Training Accuracy: {round(float(train_accuracy)*100, 2)}%") # have to convert accuracy from Tensor to float

Training Accuracy: 91.64%

This is a very encouraging training accuracy! However, it is quite high and could be a result of overtraining our data. 

To ensure this isn't the case, we will use our test data and see how the model performs on this set of data:

In [26]:
# Converting test data to Tensors

X_test_np = X_test.to_numpy()
y_test_np = y_test.to_numpy()

X_test_tensor = torch.from_numpy(X_test_np).to(torch.float32)
y_test_tensor = torch.from_numpy(y_test_np).reshape(-1, 1).to(torch.float32)

In [27]:
# computing test accuracy 

with torch.no_grad():
    y_pred_test = model(X_test_tensor)

test_accuracy = (y_pred_test.round() == y_test_tensor).float().mean()
print(f"Test Accuracy: {round(float(test_accuracy)*100, 2)}%")

Test Accuracy: 90.94%

We have a similarly high test data accuracy, suggesting we are not dealing with an overtraining problem.